pkgbase = diffctx-bin
	pkgdesc = Selects the minimum code an LLM needs to review a git diff
	pkgver = 1.12.2
	pkgrel = 1
	url = https://github.com/nikolay-e/diffctx
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	depends = git
	depends = gcc-libs
	provides = diffctx
	conflicts = diffctx
	source_x86_64 = https://github.com/nikolay-e/diffctx/releases/download/v1.12.2/diffctx-1.12.2-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = 3faa5da74a60e3289a4f86110be397a80b4733ca3d0655e999c0bd53a679197b
	source_aarch64 = https://github.com/nikolay-e/diffctx/releases/download/v1.12.2/diffctx-1.12.2-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = c36b6a56241f96a410f291b5069001adf075fa0fbce152818d0ae8eab2af00cc

pkgname = diffctx-bin
